#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	font-size: 400%;
	left: 0;
	line-height: 1;
	margin-top: -0.6em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 30%;
}

#intro h1 span {
	font-size: 48%;
}

#intro .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background: url(img/html.jpg) bottom;
	padding:.6em 0 0;
	overflow: hidden;
}

#slide-cli-img img {
	margin-top: 3em;
}

.centred {
	text-align: center;
}


#css-controls-demo label {
	display: block;
}
